/* {
  font-size: 13px !important;
} */

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

/* hack for FluetnUI DetailsList check cell */
.ms-DetailsRow-check {
  width: 34px;
}

.ms-DetailsRow-check div,
.ms-DetailsRow-check div i {
  font-size: 14px;
  height: 16px;
  width: 16px;
}
